.chart_div {
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    width: 90%;
}

.chart_title {
    margin-bottom: 20px;
}

.chart {
    width: 90%;
}

.chart_label {
    text-transform: capitalize;
    font-size: large;
}

.chart_select {
    width: 200px;
    margin-top: 20px;
    margin-bottom:30px;
    margin-left: 15px;
    margin-right: 15px;
}